@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Color+Emoji&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

.logo{
    margin: 0px 0px -5px 20px;
}


span{
    font-weight: bold;
}

body{
    font-family: "Inter", sans-serif;
    width: max-content;
    margin: 0 auto;
    padding: 56px 80px;
}

header{
    background-color: #e42e08;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.logo, header nav a, .mprodabout, .additional_details, .pcard figcaption{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

header nav{
    display: flex;
    gap: 48px;
    align-items: center;
}

header button, .mproddescription button{
background: black;
color: white;
width: 99px;
height: 52px;
border-radius: 8px;
border: none;
cursor: pointer;
font-size: 16px;
font-weight: 500;
}

.mproddescription button:hover{
        transition: transform 0.3s;
        opacity: 0.8;
    }
.mproduct{
    margin: 56px 0px 80px;
    display: flex;
    justify-content: space-between;
}

.mproddescription{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 515px;
}

h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
}

.mproddescription h2, .mprodprice, .products h2, .footer-info h2{
    font-size: 24px;
    line-height: 150%;
}

.mproddescription h2, .mprodabout, .additional-details, .pr_about{
    color: #828282;
}

.mproddescription button{
    width: unset;
}

.additional-details{
    font-size: 16px;
}

.product-cards {
    margin: 24px 0px 120px;
    display: flex;
    gap: 32px;
    
}


.pcard{
    flex: auto;
    cursor: pointer;
}

.pcard figcaption{
    margin-top: 24px;
}

footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding-top: 48px;
}

.footer-links{
    display: flex;
    gap: 32px;
}

.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 187px;
}

.footer-links-list a, .footer-links h3{
    font-weight: 500;
    line-height: 150%;
    color: #454545;
    text-decoration: none;
}

.footer-links h3{
    color: black;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-info h2{
font-size: small;
}


.social-media{
    display: flex;
    align-items: center;
    gap: 24px;
}

.social-media img:hover{
    filter: brightness(50%);
}